.mainhead {
    /* padding-top: 20px; */
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* width: 100%; */
    background-image: linear-gradient(to right, rgb(15, 15, 15), rgb(59, 11, 65));
}

.contactus-container {
    padding-top: 30px;
    height: 80vh;
    width: 100vw;
    max-width: 600px;
    border-radius: 43px;
    background: #190e1b;
    box-shadow: inset -35px -35px 71px #0a060b, inset 35px 35px 71px #28162b;
}

.contactus-container form .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #ff3ea5;
}

.contactus-container form .MuiOutlinedInput-root {
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .contactus-container {
        width: 90vw;
    }
}

.disabled-button {
    opacity: 0.5;
    /* Adjust opacity to visually indicate disabled state */
    pointer-events: none;
    /* Prevent clicks on the button */
}